header, body{
    background-color: #000000;
    font-family: 'ARIAL';
    font-size: 120%;
    color: #FFFFFF;
    text-align: center;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding: 5%;
    gap: 2%;
}

img {
    max-height: 250px;
    max-width: 28%;
    margin: 10px;
}

.header {
    width: 40%;
}

.logo img {
    width: 50%;
}

form{
    text-align: center;
}

.entrada,label,input{
    width: 50%;
    display: block;
    text-align: center;
    margin: 0 auto;
}

.button{
    width: 50%;
}

.btn{
    width: 150px;
    height: 40px;
}

.resultado{
    font-family: 'ARIAL';
    font-size: 100%;
    color: #000000;
}